Esadov Roman {{ ansible_facts['hostname'] }}



<!DOCTYPE html>
<html>
<head>
<title>Esadov Roman {{ ansible_facts['hostname'] }}</title>
<style>
html { color-scheme: light dark; }
body { width: 35em; margin: 0 auto;
font-family: Tahoma, Verdana, Arial, sans-serif; }
</style>
</head>
<body>
<h1>Esadov Roman {{ ansible_facts['hostname'] }}</h1>
</body>
</html>
